{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
	{#
	    This ensures that, if clean URLs are off, the 'q' is added first,
	    as a hidden form element, so that it shows up first in the POST URL.
	  #}
	{{ q }}
{% endif %}
<h3 class="px-0 col-12 text-tm-blue font27 mb-3 pb-1 font-headline text-uppercase">
	All bookmarks
</h3>
<div class="exposed-form-row">
	{{ form }}
	</div>
