{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
	{#
		    This ensures that, if clean URLs are off, the 'q' is added first,
		    as a hidden form element, so that it shows up first in the POST URL.
		  #}
	{{ q }}
{% endif %}
<div class="row">
	<section id="top-of-cards"></section>
	<h3 class="col-12 text-tm-blue font27 mb-3 pb-1 text-uppercase font-headline">
		Discover what matters to you
	</h3>
	<div class="col-12 exposed-form-row px-md-2 mx-md-1">
		{{ form }}
		</div>
	</div>
